<!-- OBSOLETE - USE HEADER.INC AND FOOTER.INC -->
	<!-- Side Bar-->
	<td background="/images/barbg.gif" valign="top">

	<a href="/index.php"><img src="/images/title.gif" alt="SDL" border="0"></a>
	<br>

	<font face="Verdana" size="2"><b>

	<!-- Main -->
	<img src="/images/main.gif"><br>
	<img src="/images/bullet.gif"><a href="/index.php">About</a><br>
	<img src="/images/bullet.gif"><a href="/news.php">News</a><br>
	<img src="/images/bullet.gif"><a href="/license.php">Licensing</a><br>
	<img src="/images/bullet.gif"><a href="/credits.php">Credits</a><br>
	<img src="/images/bullet.gif"><a href="mailto:slouken@libsdl.org">Feedback</a><br>
	<br>
	<!-- End Main -->

	<!-- Documentation -->
	<img src="/images/documentation.gif"><br>
	<img src="/images/bullet.gif"><a href="/docs.php">Downloadable</a><br>
	<img src="/images/bullet.gif"><a href="/intro.php">Introduction</a><br>
	<img src="/images/bullet.gif"><a href="/tutorials.php">Tutorials</a><br>
	<img src="/images/bullet.gif"><a href="/articles.php">Articles</a><br>
	<img src="/images/bullet.gif"><a href="/books.php">Books</a><br>
	<img src="/images/bullet.gif"><a href="http://sdldoc.csn.ul.ie/">Doc Project</a><br>
	<img src="/images/bullet.gif"><a href="/faq.php">FAQs</a><br>
	<img src="/images/bullet.gif"><a href="/opengl/index.php">OpenGL</a><br>
	<img src="/images/bullet.gif"><a href="/mailing-list.php">Mailing Lists</a><br>
	<img src="/images/bullet.gif"><a href="http://news.gmane.org/thread.php?group=gmane.comp.lib.sdl">Newsgroup</a><br>
	<br>
	<!-- End Documentation -->

	<!-- Download -->
	<img src="/images/download.gif" alt="Download"><br>
	<img src="/images/bullet.gif"><a href="/download-1.0.php">SDL 1.0</a><br>
	<img src="/images/bullet.gif"><a href="/download-1.2.php">SDL 1.2</a><br>
	<img src="/images/bullet.gif"><a href="/cvs.php">SDL CVS</a><br>
	<img src="/images/bullet.gif"><a href="/games.php">Games</a><br>
	<img src="/images/bullet.gif"><a href="/demos.php">Demos</a><br>
	<img src="/images/bullet.gif"><a href="/applications.php">Applications</a><br>
	<img src="/images/bullet.gif"><a href="/libraries.php">Libraries</a><br>
	<img src="/images/bullet.gif"><a href="/languages.php">Languages</a><br>
	<img src="/images/bullet.gif"><a href="http://www.libsdl.de/logo/">Logos</a><br>
	<br>
	<!-- End Download -->

	<!-- Other -->
	<img src="/images/other.gif" alt="Other"><br>
	<img src="/images/bullet.gif"><a href="/finances.php">SDL Finances</a><p>
	<br>
	<!-- End Other -->

	</b></font>
	</td>
	<!-- End Side Bar -->

