<!-- OBSOLETE - USE HEADER.INC AND FOOTER.INC -->
	<!-- Side Bar-->
	<td background="/images/barbg.png" valign="top">

	<a href="/index.php"><img src="/images/title.png" alt="SDL" border="0"></a>
	<br>

	<font face="Verdana" size="2"><b>

	<!-- Main -->
	<img src="/images/main.png" width="180" height="31" alt="Main"><br>
	<ul class="menu">
	<li><a href="/index.php">About</a></li>
	<li><a href="/news.php">News</a></li>
	<li><a href="/license.php">Licensing</a></li>
	<li><a href="http://www.cafepress.com/libsdl">Merchandise</a></li>
	<li><a href="/credits.php">Credits</a></li>
	<li><a href="mailto:slouken@libsdl.org">Feedback</a></li>
	</ul>
	<!-- End Main -->

	<!-- Documentation -->
	<img src="/images/documentation.png" width="180" height="31" alt="Documentation"><br>
	<ul class="menu">
	<li><a href="/docs.php">Downloadable</a></li>
	<li><a href="/intro.php">Introduction</a></li>
	<li><a href="/tutorials.php">Tutorials</a></li>
	<li><a href="/articles.php">Articles</a></li>
	<li><a href="/books.php">Books</a></li>
	<li><a href="http://sdldoc.csn.ul.ie/">Doc Project</a></li>
	<li><a href="/faq.php">FAQs</a></li>
	<li><a href="/opengl/index.php">OpenGL</a></li>
	<li><a href="/mailing-list.php">Mailing Lists</a></li>
	<li><a href="http://news.gmane.org/thread.php?group=gmane.comp.lib.sdl">Newsgroup</a></li>
	</ul>
	<!-- End Documentation -->

	<!-- Download -->
	<img src="/images/download.png" width="180" height="32" alt="Download"><br>
	<ul class="menu">
	<li><a href="/download-1.0.php">SDL 1.0</a></li>
	<li><a href="/download-1.2.php">SDL 1.2</a></li>
	<li><a href="/cvs.php">SDL CVS</a></li>
	<li><a href="/games.php">Games</a></li>
	<li><a href="/demos.php">Demos</a></li>
	<li><a href="/applications.php">Applications</a></li>
	<li><a href="/libraries.php">Libraries</a></li>
	<li><a href="/languages.php">Languages</a></li>
	<li><a href="http://www.libsdl.de/logo/">Logos</a></li>
	</ul>
	<!-- End Download -->

	</b></font>
	</td>
	<!-- End Side Bar -->

